.bey{
    color: deeppink;
}
.teste1{
    color: fuchsia;
    text-decoration: none;
}
.teste2{
    color: hotpink;
}
.tab{
    color: rgb(85, 4, 109);
    margin-left: 20px;
    width:150px ;
    text-align: left;
}
.infobey{
    color: indigo;
}